* {
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
    margin: 0px;
}

h1 {
    font-family: Copperplate, "Copperplate Gothic Light", fantasy;
}

.boxName {
    height: 30%;
}

.column1 {
    background-color: #1CD3FC;
}

.column2 {
    background-color: #FF4382;
}

.column3 {
    background-color: rgb(13, 207, 23);
}

.column4 {
    background-color: rgb(245, 161, 7);
}

.column1:hover,
.column2:hover,
.column3:hover,
.column4:hover {
    background-color: rgb(218, 218, 218);
}

img {
    position: absolute;
}

.responsive {
    width: 100%;
    max-width: 25%;
}

#heart {
    position: relative;
    width: 50px;
    height: 30px;
    animation: heartbeat 1s;
    margin: auto;
    padding: 30% 0;
}

#heart:before,
#heart:after {
    position: absolute;
    content: "";
    left: 50px;
    top: 0;
    width: 50px;
    height: 80px;
    background: rgb(247, 10, 10);
    -moz-border-radius: 50px 50px 0 0;
    border-radius: 50px 50px 0 0;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-transform-origin: 0 100%;
    -moz-transform-origin: 0 100%;
    -ms-transform-origin: 0 100%;
    -o-transform-origin: 0 100%;
    transform-origin: 0 100%;
}

#heart:after {
    left: 0;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-transform-origin: 100% 100%;
    -moz-transform-origin: 100% 100%;
    -ms-transform-origin: 100% 100%;
    -o-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
}

@keyframes heartbeat {
    0% {
        transform: scale( .75);
    }
    20% {
        transform: scale( 1);
    }
    40% {
        transform: scale( .75);
    }
    60% {
        transform: scale( 1);
    }
    80% {
        transform: scale( .75);
    }
    100% {
        transform: scale( .75);
    }
}

.box-thank-you {
    width: 50%;
}